<!doctype html>
<html lang="en">
<head>
	<title>The John Birch Society – To bring about less government, more responsibility, and with God's help a better world</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="The John Birch Society">
	<meta name="description" content="JBS Bootstrap Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora&family=Oswald:wght@300;400&family=PT+Sans&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/font-awesome.min.css" />
	<!-- <link rel="stylesheet" id="font-awesome-css" href="assets/css/font-awesome.min.css" type="text/css" media="all"> -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/themify-icons/css/themify-icons.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/fancybox/css/jquery.fancybox.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/owlcarousel/css/owl.carousel.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/swiper/css/swiper.min.css" />

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/icomoon.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style>
</head>

<body class="home-page">
	<div class="preloader">
		<img src="assets/images/JBS-mobile-logo200.png" alt="Pre-loader">
	</div>

	<!-- =======================
	header Start-->
	<header id="masthead" class="site-header header-static navbar-sticky" style="background-color: transparent;">

		<!-- top bar -->
		<div id="promo" class="promo">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6">
						<ul class="top-nav-menu d-flex flex-row">
							<li class="top-link"><a href="#">Donate</a></li>
							<li class="top-link"><a href="#">Volunteer</a></li>
							<li class="top-link"><a href="#">About</a></li>
							<li class="top-link last"><a href="http://www.tbdemos.org/campaign/volunteer/">Join/Login</a></li>
						</ul>
					</div>
					<div class="col-12 col-md-6">
						<div class="d-flex flex-row justify-content-end top-social">
							<a target="_blank" href="#"><span aria-hidden="true" class="icon-twitter2"></span></a>
							<a target="_blank" href="#"><span aria-hidden="true" class="icon-instagram"></span></a>
							<a target="_blank" href="#"><span aria-hidden="true" class="icon-facebook2"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Logo Nav Start -->
		<div id="site-branding">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-dark py-4 py-lg-0 px-0">
					<a id="main-logo" class="navbar-brand p-0" href="#">
						<img src="./assets/images/jbs-logocolor.png" alt="JBS Logo">
					</a>
					<button id="tb-responsive-nav-trigger" class="navbar-toggler menu-link pt-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</button>
				
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item dropdown">
								<a class="nav-link" href="#" id="pagesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action Projects</a>
								<ul class="dropdown-menu" aria-labelledby="pagesMenu">
									<li> <a class="dropdown-item" href="#">Countering COVID-19 Overreach</a></li>
									<li> <a class="dropdown-item" href="#">Stop a Con-Con</a> </li>
									<li> <a class="dropdown-item" href="#">Stop the Globalists' Trade Agenda</a> </li>
									<li> <a class="dropdown-item" href="#">Get US Out! of the United Nations</a> </li>
									<li> <a class="dropdown-item" href="#">Support Your Local Police</a> </li>
									<li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">More Action Projects</a>
										<ul class="dropdown-menu">
											<li> <a class="dropdown-item" href="sign-in.html">Get US Out! of the USMCA</a> </li>
											<li> <a class="dropdown-item" href="sign-up.html">Stop the North American Union</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Immigration</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">End the Fed</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Agenda 21/2030</a> </li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" href="#" id="pagesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Act Now</a>
								<ul class="dropdown-menu" aria-labelledby="pagesMenu">
									<li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">Legislative Action Alerts</a>
										<ul class="dropdown-menu">
											<li> <a class="dropdown-item" href="sign-in.html">Federal Alerts</a> </li>
											<li> <a class="dropdown-item" href="sign-up.html">State Alerts</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Contacted Elected Officials</a> </li>
										</ul>
									</li>
									<li> <a class="dropdown-item" href="#">JBS Email Alerts</a> </li>
									<li> <a class="dropdown-item" href="#">Attend an Event</a> </li>
									<li> <a class="dropdown-item" href="#">Contact Local Coordinator</a> </li>
									<li> <a class="dropdown-item" href="#">Become JBS Member</a> </li>
									<li> <a class="dropdown-item" href="#">Membership Options</a> </li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" href="#" id="pagesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Video</a>
								<ul class="dropdown-menu" aria-labelledby="pagesMenu">
									<li> <a class="dropdown-item" href="#">JBS Top Videos</a> </li>
									<li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">JBS Shows</a>
										<ul class="dropdown-menu">
											<li> <a class="dropdown-item" href="sign-in.html">JBS News Analysis</a> </li>
											<li> <a class="dropdown-item" href="sign-up.html">JBS Straight Talk</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Myths vs. Facts</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Constitution Corner</a> </li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">Action Projects</a>
										<ul class="dropdown-menu">
											<li> <a class="dropdown-item" href="sign-in.html">Stop a Constitutional Convention</a> </li>
											<li> <a class="dropdown-item" href="sign-up.html">Stop the Globablists' Trade Agenda</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Support Your Local Police</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Get US Out! of the USMCA</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Stop the North American Union</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Article VI, Not V</a> </li>
										</ul>
									</li>
									<li> <a class="dropdown-item" href="#">60th Anniversary</a> </li>
									<li> <a class="dropdown-item" href="#">JBS Archives</a> </li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" href="#" id="pagesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
								<ul class="dropdown-menu" aria-labelledby="pagesMenu">
									<li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">JBS Agenda</a>
										<ul class="dropdown-menu">
											<li> <a class="dropdown-item" href="sign-in.html">JBS on Other Issues</a> </li>
											<li> <a class="dropdown-item" href="sign-up.html">Education</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Transforming Society</a> </li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">Leadership</a>
										<ul class="dropdown-menu">
											<li> <a class="dropdown-item" href="sign-in.html">Timeline & History</a> </li>
											<li> <a class="dropdown-item" href="sign-up.html">Our Founder</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">National Council</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Significant Figures</a> </li>
										</ul>
									</li>
									<li> <a class="dropdown-item" href="#">Who We Are</a> </li>
									<li> <a class="dropdown-item" href="#">Frequently Asked Questions</a> </li>
									<li> <a class="dropdown-item" href="#">Myths vs Facts</a> </li>
									<li> <a class="dropdown-item" href="#">Contact Us</a> </li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" href="#" id="pagesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Education</a>
								<ul class="dropdown-menu" aria-labelledby="pagesMenu">
									<li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">Freedom's Voices</a>
										<ul class="dropdown-menu">
											<li> <a class="dropdown-item" href="sign-in.html">Speakers & Topics</a> </li>
											<li> <a class="dropdown-item" href="sign-up.html">Freedom's Voices FAQ</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Book Speaker</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Attend an Event</a> </li>
										</ul>
									</li>
									<li> <a class="dropdown-item" href="#">The New American</a> </li>
									<li> <a class="dropdown-item" href="#">TNA Video</a> </li>
									<li> <a class="dropdown-item" href="#">Freedom Index</a> </li>
									<li> <a class="dropdown-item" href="#">Freedom Project Academy</a> </li>
									<li> <a class="dropdown-item" href="#">Freedom Project Media</a> </li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" href="#" id="pagesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ShopJBS</a>
								<ul class="dropdown-menu" aria-labelledby="pagesMenu">
									<li> <a class="dropdown-item" href="#">Books</a> </li>
									<li> <a class="dropdown-item" href="#">DVDs</a> </li>
									<li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="#">Action Projects</a>
										<ul class="shop dropdown-menu">
											<li> <a class="dropdown-item" href="sign-in.html">Stop a Con-Con</a> </li>
											<li> <a class="dropdown-item" href="sign-up.html">Get US Out! of the UN</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Support Your Local Police</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">Get US Out! of the USMCA</a> </li>
											<li> <a class="dropdown-item" href="password-recovery.html">View All Action Projects</a> </li>
										</ul>
									</li>
									<li> <a class="dropdown-item" href="#">Clearance</a> </li>
								</ul>
							</li>
							<li class="special nav-item">
								<a class="nav-link text-white fa fa-heart" href="#"><span class="cont">Contribute</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- Logo Nav End -->
	</header>
	<!-- =======================
	header End-->

	<!-- =======================
	Main Banner -->
	<section class="main-banner p-0">
		<div class="height-900">
			<div class="h-100 bannerimg">
				<div class="container h-100">
					<div class="row d-flex">
						<div class="banner-content text-left">
							<h3><span style="font-size: 12pt; font-family: 'Lato';">JOIN THE NATIONAL EFFORT</span></h3>
							<h1 class="text-secondary"><span style="font-size: 36pt; line-height: 65px;">America Needs Her Patriots, Now!</span></h1>
							<p class="mt-3 fpara">Be part of the patriot movement to protect and restore American freedom, independence, and our God-given rights. Sign up below for news updates and to learn of local opportunities to get involved.</p>
							<form class="hp-join-the-team-form grid-form">
								<div class="form-group fname">
									<input type="text" class="form-control" id="bannername" aria-describedby="name" placeholder="Full Name">
								</div>
								<div class="form-group fzip">
									<input type="text" class="form-control" id="bannerzip" aria-describedby="zipcode" placeholder="Zip Code">
								</div>
								<div class="form-group fmail">
									<input type="email" class="form-control" id="banneremail" aria-describedby="email" placeholder="Email">
								</div>
								<div class="fbtn">
									<button type="submit" class="btn-sm btn-secondary bannersubmit mt-2">Sign-Up</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Main banner -->

	<!-- =======================
	CTA Blocks -->
	<section class="cta-blocks py-0">
		<div class="container">
			<div class="row">			
				<div class="call-to-action-cols col-12 col-md-4">
					<div class="d-flex flex-column flex-md-row padding15-xs ctablock">
						<div>
							<a href="#" target="_self">
								<img src="./assets/images/icon/icon_volunteer.png" alt="">
							</a>
						</div>
						<div>
							<h3 class="text-white">Join</h3>
							<p class="smaller mb-0">Enjoy member benefits while restoring America</p>	
						</div>
					</div>
				</div>
				<div class="call-to-action-cols col-12 col-md-4">
					<div class="d-flex flex-column flex-md-row padding15-xs ctablock">
						<div>
							<a href="#" target="_self">
								<img src="./assets/images/icon/icon_donate.png" alt="">
							</a>
						</div>
						<div>
							<h3 class="text-white">Donate</h3>
							<p class="smaller mb-0">Make a much-needed contribution</p>	
						</div>
					</div>
				</div>
				<div class="call-to-action-cols col-12 col-md-4 noborder">
					<div class="d-flex flex-column flex-md-row padding15-xs ctablock">
						<div>
							<a href="#" target="_self">
								<img src="./assets/images/icon/icon-shop-shirt.png" alt="">
							</a>
						</div>
						<div>
							<h3 class="text-white">Shop Products</h3>
							<p class="smaller mb-0">Check out tools you can use</p>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	CTA Blocks -->

	<!-- =======================
	Action Projects -->
	<section class="actionprojects">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center titlepart">
					<h4>GET READY TO TAKE ACTION</h4>
					<h1 class="section-title">Latest Action Projects</h1>
					<img class="py-3 mb-4" src="./assets/images/spacer_center_no_change.png" alt="">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="owl-carousel arrow-dark arrow-hover owl-loaded owl-drag mt-4" data-dots="true" data-items-xl="3" data-items-lg="3" data-items-md="2" data-items-sm="2" data-items-xs="1" data-autoplay="6400" data-speed="1000" data-pause="true">
						<!-- posts -->
						<div class="owl-stage-outer">
							<div class="owl-stage">
								<div class="owl-item">
									<div class="item">
										<div class="post p-0 grid-actionpost">
											<div class="bluelayer topimg">
												<img src="./assets/images/thumbnails/COVID-AP600.jpg" alt="">
												<div class="title-time">
													<h1 class="post-title">Countering COVID-19 Overreach</h1>
													<div class="post-date"><i class="icon-clock"></i> March 22, 2015</div>
												</div>
											</div>
											<div class="post-info cerpt p-0">
												<span class="post-tag text-white mb-3 clearfix">Covid</span>
												<p>Do we live in America or a Communist dictatorship? When is it OK for governments to force the closure of businesses? Or to forcibly close places of worship? When will this end…</p>
												<div class="read-more text-center">Read more</div>
											</div>
										</div>
									</div>
								</div>
								<div class="owl-item">
									<div class="item">
										<div class="post p-0 grid-actionpost">
											<div class="bluelayer topimg">
												<img src="./assets/images/thumbnails/SYLP600.jpg" alt="">
												<div class="title-time">
													<h1 class="post-title">Support Your Local Police</h1>
													<div class="post-date"><i class="icon-clock"></i> March 22, 2015</div>
												</div>
											</div>
											<div class="post-info cerpt p-0">
												<span class="post-tag text-white mb-3 clearfix">SYLP</span>
												<p>Local police not only have to endure the difficulty of maintaining law and order, but also the pressure of the gradual federalization of police forces…</p>
												<div class="read-more text-center">Read more</div>
											</div>
										</div>
									</div>
								</div>
								<div class="owl-item">
									<div class="item">
										<div class="post p-0 grid-actionpost">
											<div class="bluelayer topimg">
												<img src="./assets/images/thumbnails/ConCon600.jpg" alt="">
												<div class="title-time">
													<h1 class="post-title">Stop a Constitutional Convention</h1>
													<div class="post-date"><i class="icon-clock"></i> March 22, 2015</div>
												</div>
											</div>
											<div class="post-info cerpt p-0">
												<span class="post-tag text-white mb-3 clearfix">Con-Con</span>
												<p>Only six more states are needed to trigger the calling of a risky Article V constitutional convention! Are you willing to let all your Constitutional rights disappear?...</p>
												<div class="read-more text-center">Read more</div>
											</div>
										</div>
									</div>
								</div>
								<div class="owl-item">
									<div class="item">
										<div class="post p-0 grid-actionpost">
											<div class="bluelayer topimg">
												<img src="./assets/images/thumbnails/GetUsOut600.jpg" alt="">
												<div class="title-time">
													<h1 class="post-title">Get US out! of the United Nations</h1>
													<div class="post-date"><i class="icon-clock"></i> March 22, 2015</div>
												</div>
											</div>
											<div class="post-info cerpt p-0">
												<span class="post-tag text-white mb-3 clearfix">Get US out!</span>
												<p>Imagine the United States with open borders, a global police force supervising the local cities and towns, global taxes collected to combat “climate change,” Second Amendment rights demolished, and finally a global government…</p>
												<div class="read-more text-center">Read more</div>
											</div>
										</div>
									</div>
								</div>
								<div class="owl-item">
									<div class="item">
										<div class="post p-0 grid-actionpost">
											<div class="bluelayer topimg">
												<img src="./assets/images/thumbnails/GlobalTrade600.jpg" alt="">
												<div class="title-time">
													<h1 class="post-title">Stop the Globalists’ Trade Agenda</h1>
													<div class="post-date"><i class="icon-clock"></i> March 22, 2015</div>
												</div>
											</div>
											<div class="post-info cerpt p-0">
												<span class="post-tag text-white mb-3 clearfix">Globalists' Trade Agenda</span>
												<p>Too many believe that free trade is fair trade, but fair trade is downright impossible between two unequal economic systems or two unequal political systems…</p>
												<div class="read-more text-center">Read more</div>
											</div>
										</div>
									</div>
								</div>
								<div class="owl-item">
									<div class="item">
										<div class="post p-0 grid-actionpost">
											<div class="bluelayer topimg">
												<img src="./assets/images/thumbnails/ConCon600.jpg" alt="">
												<div class="title-time">
													<h1 class="post-title">The Stories Behind those Iconic Blogs</h1>
													<div class="post-date"><i class="icon-clock"></i> March 22, 2015</div>
												</div>
											</div>
											<div class="post-info cerpt p-0">
												<span class="post-tag text-white mb-3 clearfix">Con-Con</span>
												<p>This year, in this election, we are called to reaffirm our values and our commitments, to hold them against a hard reality and see how we are measuring up…</p>
												<div class="read-more text-center">Read more</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Action Projects -->

	<!-- =======================
	Freedom Is The Cure -->
	<section class="freedomiscure parallax-section">
		<div class="container-fluid" style="max-width: 1600px;">
			<div class="row">
				<div class="col-lg-7">
					<div class="fit-video">
						<div class="fluid-width-video-wrapper" style="padding-top: 56.25%;">
							<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/8t3pugiImhQ" allow="autoplay; encrypted-media" allowfullscreen="" name="fitvid0"></iframe>
						</div>
					</div>
				</div>
			<!-- </div> -->
			<!-- <div class="row"> -->
				<div class="col-lg-5 mt-5 mt-lg-0">
					<h1>Freedom is the <span class="text-secondary">Cure</span></h1>
					<p>
						The number of rights, liberties, and freedoms lost during this Wuhan virus COVID-19 lockdown is tremendous! Around the globe, countries have shown that shutdowns are not necessary. We’d invite you to join others in your area working to restore our freedom. We’ve created <a href="#" class="font-weight-bold">some great resources</a> for you to educate Americans and stand for freedom. May we count <a href="#" class="font-weight-bold">on your help</a>?
					</p>
					<p>
						We, as Americans, are responsible for our own healthcare. We do not consent to these tyrannical orders of shutting down places of worship and not being able to peaceably assemble. We thoroughly proclaim that Freedom IS The Cure! The <a href="#" class="font-weight-bold">John Birch Society</a> provides a <a href="#" class="font-weight-bold">national program</a> designed to counter the Deep State/Big Government agenda and to restore our rights.
					</p>
					<div class="btn-group mt-4">
						<button type="button" class="btn btn-primary">COVID-19 News</button>
						<button type="button" class="btn btn-primary">COVID-19 Leg. Alerts</button>
						<button type="button" class="btn btn-primary">FREE COVID-19 Report</button>
						<button type="button" class="btn btn-primary noborder">JBS Email Alerts</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Freedom Is The Cure -->

	<!-- =======================
	service -->
	<section class="who">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center titlepart">
					<h1 class="section-title"><span class="text-primary">John Birch Society  —</span> <spans class="custom-text-grad">Preserving Freedom</spans></h1>
					<img class="py-3 mb-4" src="./assets/images/spacer_center_no_change.png" alt="">
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-6">
					<h3>Standing for Constitutional Freedoms</h1>
					<p>
						For over 60 years, The John Birch Society has been the grassroots force that protects and restores American liberty and independence. We intend to restore Constitutional freedoms and secure a future with less government and more responsibility. 
					</p>
					<h3 class="pt-2">Experienced Patriots Needed Today</h1>
					<p class="mb-4">
						According to the Declaration of Independence, our Government was instituted to protect and secure our God given rights, not to abuse them. America is desperately in need of its experienced patriots, and we have the only <a href="#">effective program</a> that will solve the problem.
					</p>
				</div>
				<div class="col-md-6">
					<div class="fit-video">
						<div class="fluid-width-video-wrapper" style="padding-top: 56.25%;">
							<iframe class="embed-responsive-item border-radius-3" width="560" height="315" src="https://www.youtube.com/embed/knHVN95hPSc" allow="autoplay; encrypted-media" allowfullscreen="" name="fitvid0"></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md-6">
					<div class="d-none d-md-block">
						<img class="border-radius-3 img-fluid" src="./assets/images/bg/join_about.jpg" alt="">
					</div>
				</div>
				<div class="col-md-6">
					<h3>We Lead the Grassroots</h1>
					<p>
						Our founder Robert Welch stated, “Education is our total strategy, and truth is our only weapon.” We invite you to learn more about our <a href="#">action projects</a> and <a href="#">how to get involved</a>. With your help, we will achieve less government, more responsibility, and — with God’s help — a better world. If you agree with our goals, now is the time for you to join with us in this epic undertaking. 
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	service -->

	<!-- =======================
	footer social -->
	<section class="footer-social">
		<div class="container text-center">
			<a target="_blank" href="#" data-wow-delay="0.1s">
				<span aria-hidden="true" class="icon-twitter"></span>
			</a>
			<a target="_blank" href="#" data-wow-delay="0.2s">
				<span aria-hidden="true" class="icon-instagram"></span>
			</a>
			<a target="_blank" href="#" data-wow-delay="0.3s">
				<span aria-hidden="true" class="icon-facebook2"></span>
			</a>			
		</div>
	</section>
	<!-- =======================
	footer social -->

	<!-- =======================
	client -->
	<section class="client">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="owl-carousel owl-grab" data-margin="100" data-dots="false" data-items-xl="4" data-items-lg="4" data-items-md="3" data-items-sm="3" data-items-xs="2" data-autoplay="8000">
						<div class="item"><a href="#"><img src="assets/images/clients/action-group.jpg" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/alton-farms-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/american-pulverizer-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/bavarian-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/Big-Daddy-Guns.jpg" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/cardia-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/charlesrkphlmeyer-Logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/contractorspower.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/cressionie-construction-logo-1.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/dj-land-cattle-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/HTM-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/Investors-Advisory-Group.jpg" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/kimbertal-kennels.jpg" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/milwaukee-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/norcal-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/richard-gillis-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/rmow-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/seci-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/sedationlogo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/SouthportLogo.jpg" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/the-smith-group.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/treasure-island-coins.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/VapeItLogo.jpg" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/lbs-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/creation-today-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/jbl-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/SEAWAY-logo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/GoodSweeplogo.jpg" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/conferplasticsLogo.png" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/ips_logo_header.jpg" alt=""></a></div>
						<div class="item"><a href="#"><img src="assets/images/clients/ODochartaighlogo.png" alt=""></a></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	client -->

	<!-- =======================
	footer  -->
	<footer class="site-footer">
		<div class="footer-content pb-3">
			<div class="container">
				<div class="row">
					<!-- Footer widget 1 -->
					<div class="col-md-6 col-lg-4">
						<div class="widget">
							<a href="index.html" class="footer-logo">
								<img src="./assets/images/JBS-mobile-logo.png" alt="JBS Logo">
							</a>
							<p class="mt-3 tagline">
								Less government, more responsibility &mdash; and with God's help &mdash; a better world.
							</p>
						</div>
					</div>
					<!-- Footer widget 2 -->
					<div class="col-md-6 col-lg-3 offset-lg-1 col-sm-6 mt-5 mt-md-0 text">
						<div class="widget address" style="background-image: url('assets/images/world-map.png'); background-position: 50% 20px; background-repeat: no-repeat; background-size: contain;">
							<ul class="list-unstyled">
								<li class="media mb-3"><i class="mr-3 display-8 ti-map-alt"></i> 770 N Westhill Blvd, Appleton, WI 54914</li>
								<li class="media mb-3"><i class="mr-3 display-8 ti-headphone-alt"></i> (920) 749-3780 or 800-JBS-USA1</li>
								<li class="media mb-3"><i class="mr-3 display-8 ti-email"></i> help@jbs.org</li>
								<li class="media mb-3"><i class="mr-3 display-8 ti-time"></i>
									<p>Mon - Fri: <strong>8am - 5pm CST</strong> <br>Sat & Sun: <strong>Closed</strong></p>
								</li>
							</ul>
						</div>
					</div>
					<!-- Footer widget 4 -->
					<div class="colo-md-12 col-lg-3 offset-lg-1 widget4 mt-5 mt-lg-0">
						<div class="widget bg-grad p-4 all-text-white border-radius-3">
							<i class="ti-email newsletter-icon"></i>
							<p class="mb-2">Subscribe to our newsletter to receive exclusive offers.</p>
							<div class="form-group mb-0">
								<input class="form-control border-white mb-3" type="email" placeholder="Enter email...">
								<button class="btn btn-dark mb-0">Join us</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Footer widget 4 -->
			</div>
		</div>
	</footer>
	<!-- =======================
	footer  -->

	<!-- =======================
	footer  -->
	<section class="footer-nav">
		<div class="footer-copyright">
			<div class="container">
				<div class="d-md-flex justify-content-between align-items-center py-3 text-md-left">
					<!-- copyright links-->
					<div class="copyright-links mt-md-0">
						<ul class="d-flex flex-wrap">
							<li class=""><a href="#">Home</a></li>
							<li class=""><a href="#">Contact</a></li>
							<li class=""><a href="#">Action Projects</a></li>
							<li class=""><a href="#">Career</a></li>
							<li class=""><a href="#">Donate</a></li>
							<li class=""><a href="#">Join/Login</a></li>
						</ul>
					</div>
					<!-- copyright text -->
					<div class="copyright-text mt-3 mt-md-0">©1999-2020 John Birch Society</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	footer  -->

	<div><a href="#" class="back-top btn btn-grad custom-grad"><i class="ti-angle-up"></i></a> </div>

	<!--Global JS-->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/popper.js/umd/popper.min.js"></script>
	<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!--Vendors-->
	<script src="assets/vendor/fancybox/js/jquery.fancybox.min.js"></script>
	<script src="assets/vendor/owlcarousel/js/owl.carousel.min.js"></script>
	<script src="assets/vendor/swiper/js/swiper.js"></script>
	<script src="assets/vendor/wow/wow.min.js"></script>

	<!--Template Functions-->
	<script src="assets/js/functions.js"></script>
	<script src="assets/js/script.js"></script>

</body>
</html>